//Name: Skyrawr
//Desc: Develop this website with sass
//Author: Corey Walters
//Date: 05/07/19
@import variables
@import mixins

body
	text-align: center
	background-color: $salmon
	font-family: 'Cormorant Garamond', Arial, Helvetica, serif
	width: 80%
	margin: 0 auto


.navbar navbar-expand-sm
		display: block
	



.navbar-nav .nav-link
	color: $pink
	text-shadow: 1px 1px $darkPurple


.scheduleTitle
	font-size: 26px
	font-weight: bold

.table
	font-size: 18px
	font-weight: bold


.contact
		color: $tan
	

.contactInfo
		color: rgb(215,200,43)
		background-color: $darkPurple
		font-size: 20px
		font-weight: bold
		padding-top: 1em
		padding-bottom: 1em
		margin-bottom: 5em

.games
		margin-bottom: 0em
		
	
		background-color: $darkPurple
		padding: 1em
		color: $salmon
		font-weight: bold

.carousel
	height: 360px
	margin-bottom: 1em
	background-color: $darkPurple


.ythl
		margin-bottom: 0em
		background-color: $darkPurple
		padding: 1em
		color: $salmon
		font-weight: bold
	
.btn-primary
	background-color: rgb(4,171,160)
	border-color: rgb(215,200,43)

.btn-primary:hover 
	background-color: rgb(215,200,43)
	

.popover-header
	background-color:rgb(61,87,134)
	color: rgb(4,171,160)
	
.popover-body
	background-color:rgb(41,91,167)
	color: rgb(4,171,160)
	

.navbar-nav .nav-link 
	font-family: ariel, helvetica, sans-serif
	color: rgb$darkPurple
	font-size: 25px
	

.navbar-nav .nav-link:hover 
	color: $darkPurple
	font-weight: bold
	

.heading
	padding-top: 1em
	font-size: 50px
	color: $darkPurple
	

.welcoming
	padding: 1em
	color: $salmon
	background-color: $darkPurple
	font-size: 16px
	font-weight: bold


.hours, .hours a
	color: $salmon
	padding: 1em
	text-align: left
	background-color: $darkPurple
	text-decoration: none

.rental
	padding: 1em
	color: $salmon
	background-color: $darkPurple
	font-size: 20px
	font-weight: bold
	

.foot
	width: 80%

.footInfo
	color: $salmon
	background-color: $darkPurple
	padding: 1em
	font-weight: bold
	

